In [9]:
import pandas as pd

# Load the datasets
acquirer_sample_path = 'TargetSample638.csv'
cleaned_data_path = 'json_files_02232024/cleaned_data.csv'

acquirer_sample_df = pd.read_csv(acquirer_sample_path)
cleaned_data_df = pd.read_csv(cleaned_data_path)

In [10]:
acquirer_sample_df['website_processed'] = acquirer_sample_df['website'].str.lower().str.replace('www.', '', regex=False)
cleaned_data_df['Lookup_processed'] = cleaned_data_df['Lookup'].str.lower()

# Now perform the merge operation based on the processed columns
merged_df = cleaned_data_df.merge(acquirer_sample_df[['website_processed', 'companyid', 'targetcompanyname']], left_on='Lookup_processed', right_on='website_processed', how='left')

# Drop the processed columns used for merging
merged_df.drop(['website_processed', 'Lookup_processed'], axis=1, inplace=True)

In [ ]:
cleaned_data_df

In [12]:
# Check the first few rows of the merged dataset to confirm the merge
merged_df.head()

,Lookup,FirstIndexed,LastIndexed,CompanyName,IsDB,Spend,SalesRevenue,SpendHistory,paths_count,path_Domain,...,Categories_count,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,companyid,targetcompanyname
0,gojuno.com,2021-04-29,2024-02-17,Juno,True,0.0,0.0,"[{'D': 1621210860000, 'S': 0}]",1.0,gojuno.com,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155668-96,Juno
1,featurex.ai,2023-01-04,2024-02-17,NaN,True,0.0,0.0,"[{'D': 1673408160000, 'S': 0}]",1.0,featurex.ai,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162304-12,FeatureX
2,specdrums.com,2015-12-16,2024-02-20,NaN,True,203.0,0.0,"[{'D': 1454608620000, 'S': 9}, {'D': 149089662...",2.0,specdrums.com,...,1.0,Social Management,NaN,NaN,NaN,NaN,NaN,NaN,155332-36,Specdrums
3,specdrums.com,2015-12-16,2024-02-20,NaN,True,203.0,0.0,"[{'D': 1454608620000, 'S': 9}, {'D': 149089662...",2.0,specdrums.com,...,2.0,Hosted Solution,Simple Website Builder,NaN,NaN,NaN,NaN,NaN,155332-36,Specdrums
4,specdrums.com,2015-12-16,2024-02-20,NaN,True,203.0,0.0,"[{'D': 1454608620000, 'S': 9}, {'D': 149089662...",2.0,specdrums.com,...,1.0,Framework,NaN,NaN,NaN,NaN,NaN,NaN,155332-36,Specdrums

In [13]:
# Reorder the columns to move 'companyid' to the second position
cols = list(merged_df.columns)
# Move 'companyid' to the second position
cols.insert(1, cols.pop(cols.index('companyid')))
cols.insert(2, cols.pop(cols.index('targetcompanyname')))
# Reindex the dataframe with the new column order
merged_df = merged_df.reindex(columns=cols)

In [14]:
merged_df

,Lookup,companyid,targetcompanyname,FirstIndexed,LastIndexed,CompanyName,IsDB,Spend,SalesRevenue,SpendHistory,...,FirstDetected,LastDetected,Categories_count,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7
0,gojuno.com,155668-96,Juno,2021-04-29,2024-02-17,Juno,True,0.0,0.0,"[{'D': 1621210860000, 'S': 0}]",...,2021-04-29,2024-02-17,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,featurex.ai,162304-12,FeatureX,2023-01-04,2024-02-17,NaN,True,0.0,0.0,"[{'D': 1673408160000, 'S': 0}]",...,2023-01-04,2024-02-17,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,specdrums.com,155332-36,Specdrums,2015-12-16,2024-02-20,NaN,True,203.0,0.0,"[{'D': 1454608620000, 'S': 9}, {'D': 149089662...",...,2017-01-16,2019-01-03,1.0,Social Management,NaN,NaN,NaN,NaN,NaN,NaN
3,specdrums.com,155332-36,Specdrums,2015-12-16,2024-02-20,NaN,True,203.0,0.0,"[{'D': 1454608620000, 'S': 9}, {'D': 149089662...",...,2015-12-16,2019-01-03,2.0,Hosted Solution,Simple Website Builder,NaN,NaN,NaN,NaN,NaN
4,specdrums.com,155332-36,Specdrums,2015-12-16,2024-02-20,NaN,True,203.0,0.0,"[{'D': 1454608620000, 'S': 9}, {'D': 149089662...",...,2017-01-16,2018-12-08,1.0,Framework,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111482,birchfinance.com,152958-43,Birch,2013-09-15,2024-02-21,Birch Finance LLC,True,493.0,0.0,"[{'D': 1384772940000, 'S': 0}, {'D': 147290094...",...,2021-08-15,2023-11-17,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111483,birchfinance.com,152958-43,Birch,2013-09-15,2024-02-21,Birch Finance LLC,True,493.0,0.0,"[{'D': 1384772940000, 'S': 0}, {'D': 147290094...",...,2023-05-01,2023-11-17,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111484,birchfinance.com,152958-43,Birch,2013-09-15,2024-02-21,Birch Finance LLC,True,493.0,0.0,"[{'D': 1384772940000, 'S': 0}, {'D': 147290094...",...,2023-12-31,2023-12-31,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111485,vinovisit.com,154454-32,VinoVisit,NaN,1969-12-31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111486,roostr.tv,153723-88,Roostr,NaN,1969-12-31,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
null_companyid_count = merged_df['companyid'].isnull().sum()
null_companyid_count

0

In [16]:
unique_companyids = merged_df['companyid'].unique()
unique_companyids_count = len(unique_companyids)
unique_companyids_count, unique_companyids

(624,
 array(['155668-96', '162304-12', '155332-36', '154969-75', '162694-90',
        '156451-69', '155967-31', '156652-57', '159112-36', '159037-84',
        '155181-43', '162219-25', '154795-06', '160924-51', '161933-68',
        '160010-02', '166758-94', '166368-43', '163791-64', '167360-59',
        '166285-81', '166385-44', '163077-76', '166882-78', '166684-60',
        '163264-24', '166816-18', '163706-86', '164338-48', '162696-97',
        '164408-86', '163802-71', '167866-03', '171042-85', '171568-09',
        '168689-35', '170506-45', '168594-13', '171941-86', '169166-53',
        '168783-31', '167916-16', '169103-98', '170826-49', '169551-82',
        '171905-23', '170142-67', '168347-80', '178172-38', '179569-09',
        '172767-70', '173545-48', '180362-53', '172775-71', '178485-49',
        '172673-65', '178899-04', '178173-01', '178135-84', '180642-97',
        '172568-62', '172340-20', '179456-68', '173425-69', '222479-83',
        '181300-15', '183442-87', '186004-90', '185932-63', '222973-48',
        '221824-18', '181959-13', '184477-60', '180857-80', '221903-74',
        '183715-66', '186568-48', '222271-93', '186074-56', '184180-69',
        '229903-21', '229064-23', '230607-28', '228537-64', '228169-45',
        '224191-54', '230032-09', '231440-14', '228980-35', '230095-27',
        '232304-68', '225716-59', '228531-88', '231263-74', '230959-90',
        '231718-96', '277297-12', '265318-03', '265366-99', '266208-04',
        '235040-77', '233759-17', '268641-37', '264458-26', '279467-83',
        '43045-57', '234859-60', '42265-09', '41647-06', '40395-97',
        '267738-40', '232422-58', '49312-27', '50962-78', '52196-77',
        '51474-07', '50888-71', '43140-79', '52226-56', '52266-43',
        '51504-58', '51251-50', '50981-95', '51447-88', '51269-32',
        '51249-70', '51632-65', '51453-73', '52888-24', '52840-45',
        '52849-18', '52747-84', '52283-44', '52331-59', '52312-24',
        '52786-45', '52818-49', '52362-10', '52707-16', '52837-93',
        '52597-72', '52618-42', '52329-79', '52283-26', '53551-18',
        '52960-87', '53408-98', '53621-02', '53391-52', '53600-50',
        '53692-12', '53559-82', '53279-20', '53786-62', '53706-07',
        '53614-99', '53652-88', '53504-29', '53583-85', '53610-85',
        '101994-85', '101127-88', '102384-01', '102771-91', '103131-37',
        '101212-21', '102034-72', '100229-41', '102168-37', '103114-18',
        '100529-11', '101990-80', '100755-46', '102670-66', '100865-35',
        '101344-78', '54142-39', '53945-47', '54036-28', '53907-94',
        '54081-46', '54000-91', '54073-18', '54028-27', '53995-87',
        '53868-52', '53942-05', '54082-09', '53821-45', '54106-39',
        '54141-22', '53944-12', '54171-28', '54489-43', '54227-53',
        '54245-71', '54262-09', '54372-07', '54676-27', '54664-84',
        '54239-59', '54436-78', '54658-00', '54314-83', '54172-45',
        '54157-33', '54353-44', '54217-99', '54732-79', '54684-73',
        '54840-25', '55100-98', '54676-99', '54967-33', '55137-34',
        '55072-09', '54680-68', '54938-08', '54733-87', '54871-84',
        '54918-28', '54721-27', '54842-14', '55124-29', '55728-01',
        '55279-09', '55333-09', '55667-62', '55557-46', '55549-99',
        '55516-06', '55552-15', '55298-80', '55432-36', '55687-33',
        '55735-21', '55216-09', '55445-77', '55857-70', '55215-10',
        '56008-09', '56107-90', '56226-52', '56125-54', '56398-60',
        '56258-29', '56286-10', '55966-15', '56039-68', '56080-45',
        '56332-45', '56272-87', '56030-95', '56306-71', '55983-07',
        '56114-47', '57013-57', '56980-27', '56859-31', '57011-50',
        '56428-84', '56962-36', '57024-10', '56935-09', '56728-09',
        '56868-58', '56554-75', '56436-67', '56845-72', '56967-58',
        '56493-55', '56992-06', '57543-13', '57765-43', '57820-33',
        '57632-14', '57418-57', '57253-51', '57823-66', '57335-41',
        '57862-00', '57074-32', '58195-54', '57488-23', '58006-72',
        '58147-48', '57055-69', '57177-28', '58974-04', '58916-44',
        '58411-09', '58286-98', '59217-22', '58462-93', '58825-36',
        '58991-23', '59061-97', '58251-70', '59086-45', '58645-63',
        '58286-17', '58243-24', '58463-74', '59228-20', '60119-38',
        '59229-82', '60075-82', '60028-66', '59934-88', '59251-60',
        '59280-22', '59975-02', '60185-17', '59910-67', '59256-82',
        '60048-46', '59228-74', '59883-13', '59937-04', '59964-22',
        '60508-09', '60624-19', '60333-67', '60251-59', '60689-98',
        '60359-59', '60610-96', '60375-25', '60487-48', '60368-05',
        '60335-83', '60674-14', '60555-43', '60534-82', '60628-78',
        '60460-48', '104671-99', '103620-70', '106944-31', '10670-77',
        '103744-72', '104478-40', '104038-21', '10389-97', '103282-03',
        '103969-00', '104317-93', '106875-01', '107001-10', '104570-29',
        '104797-36', '104183-11', '61497-82', '61104-07', '61616-17',
        '60767-65', '61438-42', '61330-78', '61223-50', '61546-78',
        '61120-00', '61608-43', '61348-78', '60957-10', '60813-91',
        '61123-96', '61318-63', '61222-33', '61784-47', '62418-25',
        '61945-03', '62464-15', '62005-87', '62503-57', '61754-77',
        '62119-27', '61814-98', '62075-44', '62266-06', '61617-88',
        '61817-95', '61662-16', '61704-01', '61966-81', '63530-20',
        '63771-76', '62646-58', '63434-53', '63584-47', '62573-95',
        '64003-87', '63789-04', '62771-77', '62768-08', '63586-90',
        '63968-05', '63786-16', '62713-36', '62702-56', '63533-44',
        '66176-65', '64561-06', '82474-30', '65712-88', '64686-88',
        '66016-90', '65804-23', '65842-66', '83042-83', '64308-34',
        '65906-74', '82821-88', '82190-62', '82647-64', '64829-53',
        '65833-03', '84871-90', '86279-95', '84824-47', '85004-65',
        '87505-75', '86204-62', '83430-91', '84895-39', '84507-76',
        '85833-19', '86036-23', '87749-11', '87614-29', '84682-09',
        '84681-37', '84996-73', '89718-31', '88794-46', '89173-81',
        '89829-55', '90942-40', '88432-93', '89009-83', '88069-15',
        '89482-69', '88138-63', '89621-83', '88866-46', '90526-69',
        '89966-35', '88983-37', '88409-35', '92494-81', '91234-63',
        '91844-20', '91931-68', '91424-98', '91434-16', '91659-43',
        '91626-13', '90956-35', '92137-60', '92431-27', '92129-68',
        '91031-05', '91019-26', '92069-56', '92115-28', '96307-39',
        '94896-10', '96290-20', '94953-25', '96424-66', '94550-23',
        '94538-44', '94302-10', '94713-49', '93947-50', '93708-10',
        '94885-12', '94225-60', '94023-82', '96609-61', '92969-92',
        '98273-35', '97649-74', '97145-20', '96994-90', '97526-35',
        '97268-59', '97143-04', '97513-03', '97117-66', '97128-73',
        '97350-49', '97076-71', '96719-23', '97128-37', '97244-56',
        '98369-11', '98576-83', '98465-05', '99425-98', '98464-15',
        '98829-91', '99970-84', '99219-70', '99223-57', '98517-70',
        '98968-87', '98883-01', '99967-96', '99004-24', '99410-14',
        '98558-38', '98759-08', '108353-08', '108662-86', '108187-84',
        '108422-74', '107770-60', '108259-84', '107804-17', '107140-15',
        '107949-07', '108683-47', '108019-81', '108144-64', '108455-86',
        '107250-22', '108830-71', '107004-61', '111321-01', '113082-67',
        '111365-20', '110723-14', '110678-77', '109147-15', '110120-32',
        '10972-81', '112548-52', '113053-87', '111099-97', '111028-60',
        '112984-75', '111284-47', '112771-45', '112292-56', '113192-02',
        '115373-80', '114781-51', '113529-88', '113831-92', '114107-95',
        '115530-13', '117212-41', '115242-22', '11725-84', '11526-94',
        '117684-10', '113175-10', '113352-13', '117497-44', '117427-33',
        '119110-42', '118961-65', '119274-49', '120810-70', '117776-71',
        '118300-78', '120000-52', '118413-64', '118436-86', '117899-47',
        '119483-20', '118204-84', '119928-88', '118537-84', '117848-35',
        '120010-96', '12760-39', '126954-91', '125090-02', '122498-83',
        '124533-82', '123749-38', '122326-39', '124038-91', '125531-29',
        '125801-65', '121505-41', '126184-60', '13105-72', '121535-74',
        '125465-50', '123752-80', '149957-38', '13291-39', '132543-19',
        '149418-37', '150407-29', '150444-82', '131163-49', '136072-00',
        '14781-88', '143885-62', '13233-79', '13234-69', '144041-77',
        '133022-44', '135898-21', '144634-78', '150490-27', '153236-89',
        '151374-25', '154719-19', '152578-36', '154341-19', '153902-71',
        '154615-15', '153240-13', '150579-37', '154389-34', '154273-78',
        '150699-07', '152958-43', '154454-32', '153723-88'], dtype=object))

In [17]:
merged_df.to_csv("Builtwith_targetSample638.csv", index=False)